---

import { getEntry, render } from "astro:content";
import Comment from "@components/comment/index.astro";
import Markdown from "@components/common/Markdown.astro";
import { commentConfig } from "@/config";
import MainGridLayout from "@/layouts/MainGridLayout.astro";

const aboutPost = await getEntry("spec", "about");

if (!aboutPost) {
	throw new Error("About page content not found");
}

const { Content } = await render(aboutPost);

const isCommentEnabled = commentConfig?.type && commentConfig.type !== "none";
---
<MainGridLayout title={"关于"} description={"关于"}>
    <div class="flex w-full rounded-(--radius-large) overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <Content />
            </Markdown>
        </div>
    </div>

    <!-- 评论区 -->
    <div class="mt-4">
        {
            isCommentEnabled ? (
                <Comment post={aboutPost} customPath="/about/" />
            ) : (
                <div class="card-base p-8 mb-6 relative overflow-hidden">
                    <div class="text-center py-8 text-(--content-meta)">
                        <p class="text-base">{"评论系统尚未配置"}</p>
                    </div>
                </div>
            )
        }
    </div>
</MainGridLayout>